<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %> 

    <div class="container">
        <hr>
        <h1><%= question.title %></h1>
        <p><%= question.description %><p>
        <hr>
        <br>
        <form method="POST" action="/responder" >
            <h3>Answer!</h3>
            <label>Resposta:</label>
            <textarea name="corpo" placeholder="Answer the question" class="form-control"></textarea>
            <br>
            <input type="hidden" name="questionid" value="<%= question.id %>">
            <button type="submit" class="btn btn-dark">responder</button>
        </form>
        <hr>
        <h3>Respostas</h3>
        <hr>
        <% respostas.forEach(resposta => { %>
            <br>
            <div class="card">
                <div class="card-body">
                    <p><%= resposta.corpo %></p>
                </div>
            </div>
        <% }) %>
        </div>

</body>
<%- include ('partials/footer.ejs') %>

